.navbar{
    background-color: #298A08;
}
.quem-samos{
   background-color: blue;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px
}

.parceiros{
    background-color: #5858FA;
    color: white;
}
.bg-footer{
    background-color:black;
    color: white;
}